portal/autobiz/workflows/sales/lead-capture.json
{
  "name": "AutoBiz - Lead Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "autobiz/lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lead-id",
              "name": "leadId",
              "value": "={{ $now.toMillis() }}-{{ $randomInt(1000, 9999) }}",
              "type": "string"
            },
            {
              "id": "created-at",
              "name": "createdAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "={{ $json.source || 'website' }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "new",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "enrich-lead",
      "name": "Enrich Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-email",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "check-name",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-lead",
      "name": "Validate Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CRM_API_URL }}/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.name }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"phone\": \"{{ $json.phone || '' }}\",\n  \"company\": \"{{ $json.company || '' }}\",\n  \"source\": \"{{ $json.source }}\",\n  \"leadId\": \"{{ $json.leadId }}\",\n  \"status\": \"{{ $json.status }}\",\n  \"notes\": \"{{ $json.message || '' }}\",\n  \"createdAt\": \"{{ $json.createdAt }}\"\n}",
        "options": {}
      },
      "id": "save-to-crm",
      "name": "Save to CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        910,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.BUSINESS_EMAIL }}",
        "toEmail": "={{ $json.email }}",
        "subject": "Thanks for reaching out!",
        "emailType": "html",
        "html": "=<h2>Hi {{ $json.name }},</h2>\n<p>Thank you for contacting us! We've received your inquiry and will get back to you within 24 hours.</p>\n<p>In the meantime, feel free to browse our services.</p>\n<p>Best regards,<br>The Team</p>",
        "options": {}
      },
      "id": "send-confirmation",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1130,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.BUSINESS_EMAIL }}",
        "toEmail": "={{ $env.OWNER_EMAIL }}",
        "subject": "=New Lead: {{ $json.name }}",
        "emailType": "html",
        "html": "=<h2>New Lead Received</h2>\n<table>\n<tr><td><strong>Name:</strong></td><td>{{ $json.name }}</td></tr>\n<tr><td><strong>Email:</strong></td><td>{{ $json.email }}</td></tr>\n<tr><td><strong>Phone:</strong></td><td>{{ $json.phone || 'Not provided' }}</td></tr>\n<tr><td><strong>Company:</strong></td><td>{{ $json.company || 'Not provided' }}</td></tr>\n<tr><td><strong>Source:</strong></td><td>{{ $json.source }}</td></tr>\n<tr><td><strong>Message:</strong></td><td>{{ $json.message || 'None' }}</td></tr>\n</table>\n<p><a href=\"{{ $env.CRM_URL }}/leads/{{ $json.leadId }}\">View in CRM</a></p>",
        "options": {}
      },
      "id": "notify-owner",
      "name": "Notify Owner",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1350,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"leadId\": \"{{ $json.leadId }}\",\n  \"message\": \"Lead captured successfully\"\n}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1570,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Missing required fields: name and email are required\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        910,
        400
      ]
    }
  ],
  "connections": {
    "Lead Webhook": {
      "main": [
        [
          {
            "node": "Enrich Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Lead Data": {
      "main": [
        [
          {
            "node": "Validate Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Lead": {
      "main": [
        [
          {
            "node": "Save to CRM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to CRM": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Notify Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Owner": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
