portal/autobiz/workflows/marketing/analytics-reporter.json
{
  "name": "AutoBiz - Analytics Reporter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "weekly-schedule",
      "name": "Weekly Report (Monday 8am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Set report period (last 7 days)\nconst now = new Date();\nconst weekAgo = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\n\nreturn {\n  periodStart: weekAgo.toISOString(),\n  periodEnd: now.toISOString(),\n  periodName: `Week of ${weekAgo.toLocaleDateString()}`\n};"
      },
      "id": "set-period",
      "name": "Set Report Period",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CRM_API_URL }}/analytics/marketing?from={{ $json.periodStart }}&to={{ $json.periodEnd }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-analytics",
      "name": "Fetch Marketing Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate marketing report\nconst period = $('Set Report Period').first().json;\nconst data = $input.first().json;\n\nconst metrics = {\n  website: data.website || {},\n  email: data.email || {},\n  social: data.social || {},\n  leads: data.leads || {}\n};\n\n// Calculate trends (compare to previous period)\nconst calcTrend = (current, previous) => {\n  if (!previous || previous === 0) return { value: 0, direction: 'neutral' };\n  const change = ((current - previous) / previous * 100).toFixed(1);\n  return {\n    value: Math.abs(change),\n    direction: change > 0 ? 'up' : (change < 0 ? 'down' : 'neutral')\n  };\n};\n\nconst formatNumber = (n) => n?.toLocaleString() || '0';\nconst formatPercent = (n) => (n || 0).toFixed(1) + '%';\n\nconst trendIcon = (dir) => dir === 'up' ? '↑' : (dir === 'down' ? '↓' : '→');\nconst trendColor = (dir, isPositive = true) => {\n  if (dir === 'neutral') return '#888';\n  const good = isPositive ? 'up' : 'down';\n  return dir === good ? '#34C759' : '#FF3B30';\n};\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; margin: 40px; color: #333; }\n    .header { background: linear-gradient(135deg, #007AFF 0%, #5856D6 100%); color: white; padding: 30px; margin: -40px -40px 30px -40px; }\n    h1 { margin: 0 0 5px 0; }\n    .period { opacity: 0.8; }\n    .metrics-grid { display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px; margin-bottom: 30px; }\n    .metric-card { background: #f9f9f9; padding: 20px; border-radius: 10px; }\n    .metric-value { font-size: 28px; font-weight: bold; color: #333; }\n    .metric-label { font-size: 12px; color: #666; text-transform: uppercase; }\n    .metric-trend { font-size: 14px; margin-top: 5px; }\n    .section { margin-bottom: 30px; }\n    h2 { color: #333; border-bottom: 2px solid #007AFF; padding-bottom: 10px; }\n    table { width: 100%; border-collapse: collapse; }\n    th { background: #f5f5f5; padding: 12px; text-align: left; }\n    td { padding: 12px; border-bottom: 1px solid #eee; }\n    .highlight { background: #E3F2FD; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>Weekly Marketing Report</h1>\n    <div class=\"period\">${period.periodName}</div>\n  </div>\n  \n  <div class=\"metrics-grid\">\n    <div class=\"metric-card\">\n      <div class=\"metric-value\">${formatNumber(metrics.website.visitors)}</div>\n      <div class=\"metric-label\">Website Visitors</div>\n      <div class=\"metric-trend\" style=\"color: ${trendColor(calcTrend(metrics.website.visitors, metrics.website.previousVisitors).direction)};\">\n        ${trendIcon(calcTrend(metrics.website.visitors, metrics.website.previousVisitors).direction)} \n        ${calcTrend(metrics.website.visitors, metrics.website.previousVisitors).value}%\n      </div>\n    </div>\n    <div class=\"metric-card\">\n      <div class=\"metric-value\">${formatNumber(metrics.leads.new)}</div>\n      <div class=\"metric-label\">New Leads</div>\n      <div class=\"metric-trend\" style=\"color: ${trendColor(calcTrend(metrics.leads.new, metrics.leads.previousNew).direction)};\">\n        ${trendIcon(calcTrend(metrics.leads.new, metrics.leads.previousNew).direction)} \n        ${calcTrend(metrics.leads.new, metrics.leads.previousNew).value}%\n      </div>\n    </div>\n    <div class=\"metric-card\">\n      <div class=\"metric-value\">${formatPercent(metrics.email.openRate)}</div>\n      <div class=\"metric-label\">Email Open Rate</div>\n    </div>\n    <div class=\"metric-card\">\n      <div class=\"metric-value\">${formatNumber(metrics.social.engagement)}</div>\n      <div class=\"metric-label\">Social Engagement</div>\n    </div>\n  </div>\n  \n  <div class=\"section\">\n    <h2>Website Performance</h2>\n    <table>\n      <tr><td>Page Views</td><td>${formatNumber(metrics.website.pageViews)}</td></tr>\n      <tr><td>Unique Visitors</td><td>${formatNumber(metrics.website.visitors)}</td></tr>\n      <tr><td>Bounce Rate</td><td>${formatPercent(metrics.website.bounceRate)}</td></tr>\n      <tr><td>Avg. Session Duration</td><td>${metrics.website.avgSessionDuration || '0:00'}</td></tr>\n    </table>\n  </div>\n  \n  <div class=\"section\">\n    <h2>Email Marketing</h2>\n    <table>\n      <tr><td>Emails Sent</td><td>${formatNumber(metrics.email.sent)}</td></tr>\n      <tr><td>Open Rate</td><td>${formatPercent(metrics.email.openRate)}</td></tr>\n      <tr><td>Click Rate</td><td>${formatPercent(metrics.email.clickRate)}</td></tr>\n      <tr><td>Unsubscribes</td><td>${formatNumber(metrics.email.unsubscribes)}</td></tr>\n    </table>\n  </div>\n  \n  <div class=\"section\">\n    <h2>Lead Generation</h2>\n    <table>\n      <tr><td>New Leads</td><td>${formatNumber(metrics.leads.new)}</td></tr>\n      <tr><td>Qualified Leads</td><td>${formatNumber(metrics.leads.qualified)}</td></tr>\n      <tr><td>Conversions</td><td>${formatNumber(metrics.leads.conversions)}</td></tr>\n      <tr class=\"highlight\"><td>Conversion Rate</td><td>${formatPercent(metrics.leads.conversionRate)}</td></tr>\n    </table>\n  </div>\n  \n  <div class=\"section\">\n    <h2>Top Traffic Sources</h2>\n    <table>\n      <tr><th>Source</th><th>Visitors</th><th>Leads</th></tr>\n      ${(metrics.website.topSources || []).map(s => \n        \\`<tr><td>\\${s.source}</td><td>\\${formatNumber(s.visitors)}</td><td>\\${formatNumber(s.leads)}</td></tr>\\`\n      ).join('') || '<tr><td colspan=\"3\">No data available</td></tr>'}\n    </table>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  ...period,\n  metrics: metrics,\n  reportHtml: html\n};"
      },
      "id": "generate-report",
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CRM_API_URL }}/reports/marketing",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"period\": \"{{ $json.periodName }}\",\n  \"periodStart\": \"{{ $json.periodStart }}\",\n  \"periodEnd\": \"{{ $json.periodEnd }}\",\n  \"metrics\": {{ JSON.stringify($json.metrics) }},\n  \"generatedAt\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "save-report",
      "name": "Save Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.BUSINESS_EMAIL }}",
        "toEmail": "={{ $env.OWNER_EMAIL }}",
        "subject": "=Weekly Marketing Report: {{ $json.periodName }}",
        "emailType": "html",
        "html": "={{ $json.reportHtml }}",
        "options": {}
      },
      "id": "send-report",
      "name": "Send Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1350,
        300
      ]
    }
  ],
  "connections": {
    "Weekly Report (Monday 8am)": {
      "main": [
        [
          {
            "node": "Set Report Period",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Report Period": {
      "main": [
        [
          {
            "node": "Fetch Marketing Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Marketing Analytics": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Save Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Report": {
      "main": [
        [
          {
            "node": "Send Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
