portal/autobiz/workflows/finance/payment-tracker.json
{
  "name": "AutoBiz - Payment Tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Check Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CRM_API_URL }}/invoices?status=unpaid",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-unpaid",
      "name": "Fetch Unpaid Invoices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Analyze payment status and identify overdue invoices\nconst invoices = $input.first().json.invoices || [];\nconst now = new Date();\nconst overdue = [];\nconst dueSoon = [];\nconst upcoming = [];\n\nlet totalOverdue = 0;\nlet totalDueSoon = 0;\n\nfor (const inv of invoices) {\n  const dueDate = new Date(inv.dueDate);\n  const daysUntilDue = Math.ceil((dueDate - now) / (1000 * 60 * 60 * 24));\n  const amount = parseFloat(inv.total) || 0;\n  \n  const invoiceData = {\n    invoiceNumber: inv.invoiceNumber,\n    customerId: inv.customerId,\n    customerName: inv.customerName,\n    customerEmail: inv.customerEmail,\n    total: amount,\n    dueDate: inv.dueDate,\n    daysUntilDue: daysUntilDue,\n    invoiceDate: inv.invoiceDate\n  };\n  \n  if (daysUntilDue < 0) {\n    // Overdue\n    invoiceData.daysOverdue = Math.abs(daysUntilDue);\n    overdue.push(invoiceData);\n    totalOverdue += amount;\n  } else if (daysUntilDue <= 3) {\n    // Due soon (within 3 days)\n    dueSoon.push(invoiceData);\n    totalDueSoon += amount;\n  } else if (daysUntilDue <= 7) {\n    // Upcoming (within 7 days)\n    upcoming.push(invoiceData);\n  }\n}\n\n// Sort overdue by days overdue (most overdue first)\noverdue.sort((a, b) => b.daysOverdue - a.daysOverdue);\n\nreturn {\n  overdue: overdue,\n  dueSoon: dueSoon,\n  upcoming: upcoming,\n  summary: {\n    overdueCount: overdue.length,\n    overdueTotal: totalOverdue.toFixed(2),\n    dueSoonCount: dueSoon.length,\n    dueSoonTotal: totalDueSoon.toFixed(2),\n    upcomingCount: upcoming.length\n  }\n};"
      },
      "id": "analyze-payments",
      "name": "Analyze Payments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-overdue",
              "leftValue": "={{ $json.summary.overdueCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-overdue",
      "name": "Has Overdue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        910,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "overdue",
        "options": {}
      },
      "id": "split-overdue",
      "name": "Split Overdue",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1130,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate reminder email based on days overdue\nconst inv = $input.first().json;\nconst days = inv.daysOverdue;\n\nlet subject, body, urgency;\n\nif (days <= 7) {\n  urgency = 'friendly';\n  subject = `Payment reminder: Invoice ${inv.invoiceNumber}`;\n  body = `\n    <p>Hi ${inv.customerName.split(' ')[0]},</p>\n    <p>This is a friendly reminder that invoice ${inv.invoiceNumber} for <strong>R${inv.total.toFixed(2)}</strong> was due on ${new Date(inv.dueDate).toLocaleDateString()}.</p>\n    <p>If you've already made the payment, please disregard this message. Otherwise, we'd appreciate it if you could settle this at your earliest convenience.</p>\n    <p>If you have any questions, please don't hesitate to reach out.</p>\n  `;\n} else if (days <= 14) {\n  urgency = 'firm';\n  subject = `Second reminder: Invoice ${inv.invoiceNumber} - ${days} days overdue`;\n  body = `\n    <p>Dear ${inv.customerName.split(' ')[0]},</p>\n    <p>This is a follow-up regarding invoice ${inv.invoiceNumber} for <strong>R${inv.total.toFixed(2)}</strong>, which is now ${days} days overdue.</p>\n    <p>Please arrange payment as soon as possible to avoid any service interruptions.</p>\n    <p>If there are any issues preventing payment, please contact us immediately so we can discuss options.</p>\n  `;\n} else {\n  urgency = 'urgent';\n  subject = `URGENT: Invoice ${inv.invoiceNumber} - ${days} days overdue`;\n  body = `\n    <p>Dear ${inv.customerName},</p>\n    <p>Despite previous reminders, invoice ${inv.invoiceNumber} for <strong>R${inv.total.toFixed(2)}</strong> remains unpaid and is now ${days} days overdue.</p>\n    <p>This is our final reminder before we escalate this matter. Please settle this invoice within 48 hours.</p>\n    <p>If you believe there has been an error, please contact us immediately.</p>\n  `;\n}\n\nreturn {\n  ...inv,\n  emailSubject: subject,\n  emailBody: body,\n  urgency: urgency\n};"
      },
      "id": "generate-reminder",
      "name": "Generate Reminder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.BUSINESS_EMAIL }}",
        "toEmail": "={{ $json.customerEmail }}",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "html",
        "html": "={{ $json.emailBody }}\n<br>\n<p><strong>Invoice Details:</strong></p>\n<ul>\n<li>Invoice Number: {{ $json.invoiceNumber }}</li>\n<li>Amount Due: R{{ $json.total.toFixed(2) }}</li>\n<li>Original Due Date: {{ new Date($json.dueDate).toLocaleDateString() }}</li>\n<li>Days Overdue: {{ $json.daysOverdue }}</li>\n</ul>\n<br>\n<p>Best regards,<br>{{ $env.BUSINESS_NAME }}</p>",
        "options": {}
      },
      "id": "send-reminder",
      "name": "Send Reminder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1570,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CRM_API_URL }}/invoices/{{ $json.invoiceNumber }}/reminders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sentAt\": \"{{ $now.toISO() }}\",\n  \"type\": \"{{ $json.urgency }}\",\n  \"daysOverdue\": {{ $json.daysOverdue }}\n}",
        "options": {}
      },
      "id": "log-reminder",
      "name": "Log Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1790,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.BUSINESS_EMAIL }}",
        "toEmail": "={{ $env.OWNER_EMAIL }}",
        "subject": "=Payments Summary: R{{ $json.summary.overdueTotal }} overdue",
        "emailType": "html",
        "html": "=<h2>Payment Tracker Summary</h2>\n<table style=\"border-collapse: collapse; width: 100%;\">\n<tr style=\"background: #FF3B30; color: white;\"><td style=\"padding: 15px;\"><strong>Overdue</strong></td><td style=\"padding: 15px; text-align: right;\">{{ $json.summary.overdueCount }} invoices</td><td style=\"padding: 15px; text-align: right;\">R{{ $json.summary.overdueTotal }}</td></tr>\n<tr style=\"background: #FF9500; color: white;\"><td style=\"padding: 15px;\"><strong>Due Soon</strong></td><td style=\"padding: 15px; text-align: right;\">{{ $json.summary.dueSoonCount }} invoices</td><td style=\"padding: 15px; text-align: right;\">R{{ $json.summary.dueSoonTotal }}</td></tr>\n<tr style=\"background: #007AFF; color: white;\"><td style=\"padding: 15px;\"><strong>Upcoming</strong></td><td style=\"padding: 15px; text-align: right;\">{{ $json.summary.upcomingCount }} invoices</td><td style=\"padding: 15px;\">&nbsp;</td></tr>\n</table>\n{{ $json.overdue.length > 0 ? '<h3>Overdue Invoices</h3><ul>' + $json.overdue.map(i => '<li>' + i.invoiceNumber + ' - ' + i.customerName + ' - R' + i.total.toFixed(2) + ' (' + i.daysOverdue + ' days)</li>').join('') + '</ul>' : '' }}",
        "options": {}
      },
      "id": "owner-summary",
      "name": "Send Owner Summary",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1130,
        400
      ]
    },
    {
      "parameters": {},
      "id": "no-overdue",
      "name": "No Overdue",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1130,
        500
      ]
    }
  ],
  "connections": {
    "Check Every 6 Hours": {
      "main": [
        [
          {
            "node": "Fetch Unpaid Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unpaid Invoices": {
      "main": [
        [
          {
            "node": "Analyze Payments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Payments": {
      "main": [
        [
          {
            "node": "Has Overdue?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Overdue?": {
      "main": [
        [
          {
            "node": "Split Overdue",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Owner Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Overdue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Overdue": {
      "main": [
        [
          {
            "node": "Generate Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reminder": {
      "main": [
        [
          {
            "node": "Send Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder": {
      "main": [
        [
          {
            "node": "Log Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
